<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p - %m [%t] (%F:%L)%n" />
		</layout>
	</appender>
	
	<appender name="stdoutfile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:\\Apps\\Documents\\Projects\\proj-massbank\\logs\\massbank-logger.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p - %m [%t] (%F:%L)%n" />
		</layout>
	</appender>

	<logger name="jp.massbank.spectrumsearch">
		<appender-ref ref="stdout" />
		<appender-ref ref="stdoutfile" />
	</logger>
	
	<logger name="massbank">
		<appender-ref ref="stdout" />
		<appender-ref ref="stdoutfile" />
	</logger>
	
	<root>
	</root>
</log4j:configuration>